*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Lucida Sans';
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(120deg,#ff9800,#ff5722);
}

.login-box{
  background:white;
  padding:30px;
  width:300px;
  border-radius:10px;
  text-align:center;
}

.login-box input{
  width:100%;
  padding:10px;
  margin:10px 0;
}

.login-box button{
  width:100%;
  padding:10px;
  background:#ff9800;
  border:none;
  color:white;
}