* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f4f4f4;
}


.navbar {
  background: #111;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
}

.login {
  background: #ff9800;
  padding: 6px 12px;
  border-radius: 4px;
}


.hero {
  height: 90vh;
  background: url("https://source.unsplash.com/1600x900/?restaurant-food") center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 30px;
  text-align: center;
}

.btn {
  display: inline-block;
  margin-top: 15px;
  background: #ff9800;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}


section {
  padding: 60px 40px;
  text-align: center;
}

.menu-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.item {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.gallery-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.gallery img {
  width: 300px;
  border-radius: 10px;
}


footer {
  background: #111;
  color: white;
  padding: 15px;
  text-align: center;
}